* {
  font-family: "Poppins", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  height: 95vh;
  font-family: "Arial", sans-serif;
  background-color: #100226;
  background-image: url(./images/Desktop\ -\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  position: relative;
  -sb-track-color: #100226;
  --sb-thumb-color: #100226;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}
body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}
img {
  height: 100px;
}

p {
  color: #ffffff;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  border: 2px solid #ffc505;
  border-radius: 8px;
  padding: 10px;
  width: 300px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #171717;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #edc70c;
}

button span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  height: 15px;
  width: 15px;
  background-color: #0c66ed;
  border-radius: 50%;
  transition: transform 0.6s ease;
}

button:hover span {
  transform: scale(4);
}

p.suggestions {
  margin-top: 10px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.logo img {
  height: 70px;
}
.nav-links ul {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.nav-links ul li {
  list-style: none;
}
.nav-links ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: normal;
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.heading {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  width: 60%;
  text-align: center;
  padding-top: 100px;
}
